*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 100px;
    background-color:;
    border: solid black 5px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}
header{
    width: 100%;
    height: 20px;
    background-color: rgb(2 2 3 / 83%);
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.button{
    width: 10%;
    float: left;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
    background-color: rgba(121, 121, 121, 0.877);
}

.barre_de_recherche{
    margin-right: 25%;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;

}
.barre_de_recherche > a > p{
    width: 50px;
    height: 20px;
}

.avar{
    display: flex;
    float: right;
    border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
    background-color: rgba(121, 121, 121, 0.877);
}

section{
    height: 100%;
    width: 100%;
    display: flex;
    background: rgb(0,0,9);
    background: rgb(10,59,69);
}

aside{
    width: 20%;
    height: 600px;
    background-color: aliceblue;
    text-align: center;
    text-shadow: #FFFFFF 1px 0 10px;
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    font-weight: 600;
}

.main{
    width: 80%;
    height: 600px;

}

.logo{
    padding-top: 10%;
    width: 100%;
    height: 25%;  
    font-family: 'Roboto', sans-serif;  
}
.home{
    display: flex;
    justify-content: center;
    padding-top: 8%;
    width: 100%;
    height: 10%;
}
#img{
    border-radius: 20%;
    margin-bottom: 10px;
}

.sommaire{
    width: 100%;
    height: 10%;
    padding-top: 20px;
}

.playlist_rap{
    width: 100%;
    height: 10%;
}

.histoire_rap{
    padding-top: 20px;
}

#barre{
    background-color: rgba(0, 0, 0, 0.692);;
    width: 80%;
    height: 5px;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
}

.main_2{
    background: linear-gradient(180deg, rgba(10,59,69,1) 0%, rgba(9,58,69,1) 14%, rgba(6,66,79,1) 27%, rgba(22,99,116,1) 52%, rgba(15,120,143,1) 72%, rgba(13,134,159,1) 88%, rgba(13,153,182,1) 100%);
    height: 520px;
}

.header{
    height: 60px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: center;
    background-color: rgb(8, 50, 58);
    border-radius:40px;
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#user{
    margin-top: 10px;
}

.arts{
    display: flex;
}



.h51{
    padding-left: 8px;
    padding-top: 2px;
}

.art2{
    height: 400px;
    width: 20%;
    margin: auto;
    border : 4px solid #000000;
    margin-bottom: 10px;
    border-radius:15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
    box-shadow: 20px 20px 5px rgb(0, 0, 0);
    
}

.art3{
    height: 50%;
    width: 100%;
    margin: auto;
    border : 4px solid #000000;
    margin-bottom: 10px;
    border-radius:15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
    box-shadow: 7px 7px 20px rgb(252, 252, 252);
    
}

.art_middle{
    display: block;
    width: 500px;
    height: 400px;
}

h2{
    font-size: 1.4em;
    color: #f1dbdb;
    text-shadow: #FFFFFF 1px 0 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 10%;

}

h4{
    font-size: 1.4em;
    color: #f1dbdb;
    text-shadow: #FFFFFF 1px 0 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 5%;

}
h3{
    font-size: 1em;
    color: #1d1588;
    text-shadow: #FFFFFF 1px 0 10px;
    font-family: 'Roboto', sans-serif;
    margin: 7%;
    text-align: center;
}

h5{
    font-size: 1em;
    color: #1d1588;
    text-shadow: #FFFFFF 1px 0 10px;
    font-family: 'Roboto', sans-serif;
    margin: 5%;
    text-align: center;
}


.li {
    text-align: start;
    margin-left: 10%;
    margin-top: 4%;
    margin-right: 10%;
    font-size: 0.8em;
    color: white;
    text-shadow: #FFFFFF 1px 0 10px;
    font-family: 'Roboto', sans-serif;
}

.lii{
    text-align: start;
    margin-left: 5%;
    margin-top: 10%;
    margin-right: 10%;
    font-size: 0.8em;
    color: white;
    text-shadow: #FFFFFF 1px 0 10px;
    font-family: 'Roboto', sans-serif;
    word-break: break-all;
    color: #1d1588;
}

.ly{
    text-align: start;
    margin-left: 5%;
    margin-top: 10%;
    margin-right: 5%;
    font-size: 0.8em;
    color: white;
    text-shadow: #FFFFFF 1px 0 10px;
    font-family: 'Roboto', sans-serif;
    word-break: word-break;
    color: #1d1588;
}

h1{
    padding: 20px;
    text-shadow: #FFFFFF 1px 0 10px;
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    font-weight: 600;
}

.footer{
    height: 45px;
    background-color: rgb(2 2 3 / 83%);
    display: flex;
}
.barrelecture{
    height: 50px;
    margin-right: 20%;
    margin-left: 19%;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    border-radius:35px;
	-webkit-border-radius:35px;
	-moz-border-radius:35px;
}

#imgang:hover{
    transform: rotate(360deg);
}

#imgang{
    transition-duration: 0.5s;
    border-color:  #000000;
    border-style: solid;
    border-radius: 40%;
    border-width: 2px;
    height: 40px;
    margin-left: 40px;
    margin-top: 3px;
    width: 40px;
}

#img_bas{
    margin-top: 5px;
    float: right;
}

#imghaut{
    margin-top: 1px;
    margin-right: 2px;
}

.img{
    width: 100px;
    height: 40px;
}
.barre_bas{
    background-color: rgba(0, 0, 0, 0.692);
    width: 300px;
    height: 5px;
    margin: auto;
    border-radius:35px;
	-webkit-border-radius:35px;
	-moz-border-radius:35px;
}

.lec{
    height: 30px;
    width:300px;
    margin: auto;
}

.lecteur{
    height: 50px;
    display:block;
    width: 700px;
}

.fin{
    width: 100px;
    height: 50px;
}

.lecimg{
    height: 30px;
    width:100px;
    margin: auto;
}

#img_bas_{
    margin-top: 10px;
}